.form-control {
  margin-top: 3%;
  background-color: white;
  height: 38px;
  width: 315px;
  font-size: 15px;
  border-style: none;
  border-radius: 20px;
  /* 向外阴影x 偏移量 | y 偏移量 | 阴影模糊半径 | 阴影扩散半径 | 阴影颜色 */
  box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.1);
  /* 阴影向内 | x 偏移量 | y 偏移量 | 阴影颜色 */
  /* box-shadow: inset 0px 1px 4px 2px rgba(0, 0, 0, 0.2); */
}

.form-bio {
  margin-top: 3%;
  background-color: white;
  height: 80px;
  width: 315px;
  font-size: 15px;
  border-style: none;
  border-radius: 20px;
  /*padding用了后有点奇怪*/
  padding-top: 30px;
  padding-left: 20px;
  box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.1);
}

button {
  margin-top: 3%;
  height: 30px;
  width: 200px;
  font-size: 15px;
}

input::-webkit-input-placeholder {
  position: relative;
  left: 15px;
}

.form-control {
  text-indent: 40px;
}
