/* ===================================================== */
/* Grid template */

.layout-landing {
  grid-area: main;
  margin: 10vh 10vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "slider"
    "browse";
  text-align: center;
}

/* ===================================================== */
/* Responsive */

@media screen and (max-width:800px) {
  .layout-landing {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "browse";
    grid-gap: 2vw;
    padding: 10px;
    text-align: center;
  }

  .slider-container {
    visibility: hidden;
  }

  .browse-container {
    grid-area: browse;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5%;
    margin-bottom:15vh;
    padding: 5%;
    text-align: center;
  }

  .browse-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

}

/* ===================================================== */
/* Image slider */

.slider-container {
  grid-area: slider;
}

.slider {
  width: 100%;
}

/* ===================================================== */
/* Browse Items */

.browse-container {
  grid-area: browse;
  display: grid;
  grid-template-columns: repeat(auto-fit,15rem);
  grid-gap: 1.6rem;
  margin-bottom:15vh;
}

.browse-container img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}