/* ===================================================== */
/* Grid template */

.layout-login {
  grid-area: main;
  margin-top: 9vh;
  padding: 1.5vw;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    'login today';
  grid-gap: 0px;
  padding: 10px;
  text-align: center;
}

/* ===================================================== */
/* Responsive design */

@media screen and (max-width:800px) {
  .layout-login {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "login"
      "today";
    grid-gap: 10px;
    padding: 10px;
    text-align: left;
  }
}

/* ===================================================== */
/* Left section: Login */

.login-container {
  grid-area: login;
  text-align: center;
}

.login-container ul {
  list-style-type: none;
}

.login-container li {
  margin: 2.5vh;
}

.eye-icon {
  position: fixed;
  margin-left: 18px;
  margin-top: 22px;
}

textarea {
  resize: none;
}

/* ===================================================== */
/* Right section: Today */

.today-container {
  grid-area: today;
  text-align: center;
}

.today-container img {
  max-width: 65%;
}