/* ===================================================== */
/* Grid template */

.layout-market {
  grid-area: main;
  margin: 10vh 3vw;
  padding: 1.5vw;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-areas:
    "user-avatar user-intro user-collection";
  grid-gap: 2vw;
  padding: 10px;
}

/* ===================================================== */
/* Responsive design */

@media screen and (max-width:800px) {
  .layout-market {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "user-intro"
      "user-collection";
    padding: 10px;
    text-align: left;
  }

  .user-avatar-container {
    visibility: hidden;
  }

  .user-intro-container {
    grid-area: user-intro;
    position: static;
  }
}


/* ===================================================== */
/* User Avatar */

.user-avatar-container {
  grid-area: user-avatar;
  display: grid;
}

.user-avatar {
  position: fixed;
  left:0;
  bottom:0;
  height: 90vh;
  width: auto;
}

.user-avatar-bg {
  position: fixed;
  left:0;
  bottom:0;
  height:90vh;
  width:auto;
  z-index:-1;
}

/* ===================================================== */
/* User Introduction */

.user-intro-container {
  grid-area: user-intro;
  position: fixed;
  width: 20vw;
  margin-left: 22vw;
}

/* ===================================================== */
/* User Collections */

.user-collection-container {
  grid-area: user-collection;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-gap: 5%;
  padding: 5%;
  text-align: center;
  margin-bottom:7vh;
}

.user-collection-container img {
  width: 80%;
  height: auto;
  border-radius: 10px;
}