.layout-like {
    display: flex;
    grid-area: main;
    margin-top: 0;
    background-color: #FCF9F4;
}

.layout-like .itemhead {
    width: 60%;
    position: fixed;
    z-index: 0;
}
.layout-like .itemfoot {
    bottom: 0;
    width:100%;
    position: fixed;
}

.layout-like h1 {
    font-weight: 500;
    position: absolute;
    margin-top: 8%;
    z-index: 2;
    margin-left: 18%;
    font-size: 58px;
}

.layout-like .items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 25%;
}

.layout-like .itemsName {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.layout-like .singleItem {
    z-index: 1;
    width: 20%;
    height: auto;
}

.layout-like h2 {
    font-weight: 300;
    text-align: center;
}

@media screen and (max-width:1130px){
    .layout-like h1{
        font-size: 50px;
    }
}

@media screen and (max-width:950px){
    .layout-like .itemhead {
        width: 100%;
    }

    .layout-like h1{
        margin-top: 15%;
        margin-left: 30%;
    }

    .layout-like h2{
        font-size: 20px;
    }

    .layout-like .items{
        margin-top: 40%;
    }
}

@media screen and (max-width:700px){
    .layout-like .content {
        display: grid;
        grid-column-gap: 1rem;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "item itemName";
    }

    .layout-like .items {
        grid-area: item;
        margin-top: 60%;
        display: flex;
        flex-direction: column;
    }

    .layout-like .itemsName {
        grid-area: itemName;
        margin-top: 60%;
        display: flex;
        flex-direction: column;
    }

    .layout-like .singleItem {
        width: 80%;
        margin: 1rem;
    }
}

@media screen and (max-width:630px){
    .layout-like h1{
        margin-left: 25%;
        font-size: 45px;
    }
}