/* ===================================================== */
/* Overall */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "navbar"
    "main"
    "footer";
  grid-gap: 10px;
  background-color: #fcf8f4;
  background-image: url(../image/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Ariel;
  text-align: left;
}

/* ===================================================== */


/* ===================================================== */
/* Navigation bar & Icons */

/* Navigation bar */
.navbar {
  grid-area: navbar;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: space-between;
  height: 70px;
  box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.1);
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 10px 50px 75px 100px;
}

.navbar li:hover {
  background-color: #f7f1e2;
}

/* Icon */
.icon {
  width: 25px;
  height: 24px;
  margin-top: 0.8rem;
  margin-left: 10px;
}

.home-icon {
  width: 39px;
  height: 39px;
  margin-left: 18px;
  margin-top: 0.5rem;
}

/* ===================================================== */
/* Footer */

.footer {
  grid-area: footer;
  height: 70px;
  box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 0;
}

.footer p {
  padding-top: 30px;
  text-align: center;
}

/* error message*/
.errmsg {
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.offscreen {
  background-color: tran;
  position: absolute;
  left: -9999px;
}