/* ===================================================== */
/* Grid template */

.layout-upload {
    grid-area: main;
    margin-top: 9vh;
    padding: 1.5vw;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-areas:
      "preview upload fill-in";
    grid-gap: 0px;
    text-align: left;
}

/* ===================================================== */
/* Left section: Preview images */

.preview-container {
    grid-area: preview;
}

.preview-container img {
    max-width: 70%;
}

/* ===================================================== */
/* Middle section: Upload image */

.upload-container {
    grid-area: upload;
}

.upload-container img {
    max-width: 70%;
}


/* ===================================================== */
/* Right section: Fill in information */

.fillin-container {
    grid-area: fill-in;
}

.fillin-container input {
    width: 80%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
}

.fillin-container input[text] {
    text-align: center;
}

.tag {
    border: none;
    border-radius: 5px;
    background-color: #BCB4A7;   
}