/* ===================================================== */
/* Grid template */

.layout-upload {
    grid-area: main;
    margin-top: 14vh;
    padding: 1.5vw;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-areas:
      "preview upload fill-in";
    grid-gap: 2rem;
}

/* ===================================================== */
/* Responsive design */

@media screen and (max-width:800px) {
    .layout-upload {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas:
        "upload" 
        "fill-in" 
        "preview";
      grid-gap: 10px;
      padding: 10px;
      text-align: center;
    }

    .preview-container img {
        max-width: 70%;
        margin: 4%;
        border-radius: 20px;
        box-shadow: 0px 1px 6px 5px rgba(0, 0, 0, 0.2);
    }
  }
  
/* ===================================================== */
/* Left section: Preview images */

.preview-container {
    grid-area: preview;
    height: 70%;
    text-align: center;
}

.preview-container img {
    max-width: 70%;
    margin: 4%;
    border-radius: 20px;
    box-shadow: 0px 1px 6px 5px rgba(0, 0, 0, 0.2);
}

.delete-button {
    width: 30px;
    height: 30px;
    position: absolute;
    margin-left: 200px;
    margin-top: 20px;
    border: transparent;
    border-radius: 50%;
    background-color: #D2CBC1;
    z-index: 100;
}

/* ===================================================== */
/* Middle section: Upload image */

.upload-container {
    grid-area: upload;
    text-align: center;
}

.upload-container img {
    max-width: 60%;

}

label {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50%;
    border-color: transparent;
    width: 20rem;
    height: 20rem;
    background: URL('../image/addImage.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.upload-input {
    display: none;
}

/* ===================================================== */
/* Right section: Fill in information */

.fillin-container {
    grid-area: fill-in;
    text-align: left;
}

.fillin-container input {
    width: 80%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
}

.fillin-container input[text] {
    text-align: center;
}

.tag {
    border: none;
    border-radius: 5px;
    background-color: #BCB4A7;   
}