<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Login</title>
</head>
<body>
        <form action="/user/login" method="post">
        <table>
            <tr>
                <td> Email: </td>
                <td>
                    <input type="email" name="email">
                </td>
            </tr>
            <tr>
                <td> Password: </td>
                <td>
                    <input type="text" name="password">
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit">Log IN</button>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>